In [1]:
import pandas as pd
import os  
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns

In [2]:
cwd = os.getcwd()
print(cwd)

/Users/lin-chuntseng/Desktop

In [269]:
df = pd.read_csv("/Users/lin-chuntseng/Desktop/raw_haidian.csv")

In [270]:
df = df.rename(columns={"Transaction Date": "Date", "Housing ID": "Community", "Unnamed: 0": 'Housing_ID'})

In [271]:
# Original size of the dataframe
df.shape

(72435, 11)

In [272]:
df.columns

Index(['Housing_ID', 'Community', 'Livable Area', 'Price/Square Meter',
       'Price', 'Date', 'Year Built', 'Floor Plan', 'Facing Direction',
       'Floor', 'Decoration'],
      dtype='object')

In [273]:
# Livable Area convert into float

df['Livable Area'] = df['Livable Area'].astype('str').str[:-2]

In [274]:
# Keep the first 4 digits for 'Year Built' 
df['Year Built'] = df['Year Built'].astype('str').str[0:4]

In [275]:
# Convert dtype of Transaction Date
df['Date'] = pd.to_datetime(df.Date)

In [276]:
# Create a new column for keeping the first character of Facing Direction
df['Facing Direction2'] = df['Facing Direction'].astype('str').str[0:1]

In [277]:
df = pd.get_dummies(df,columns=['Facing Direction2'])

In [278]:
# Drop missing rows for facing direction2 (dropped 71 rows)
df2 = df[(df['Facing Direction2_n'] != 1) & (df['Facing Direction2_暂'] != 1)]
df2.shape

(72364, 17)

In [279]:
# Drop unnecessary columns for facing direction2_n and facing direction2_暂
df2 = df2.drop(columns=["Facing Direction2_n", "Facing Direction2_暂"])

In [281]:
df2.head()

,Housing_ID,Community,Livable Area,Price/Square Meter,Price,Date,Year Built,Floor Plan,Facing Direction,Floor,Decoration,Facing Direction2_东,Facing Direction2_北,Facing Direction2_南,Facing Direction2_西
0,1,中关村南大街甲3号 2室1厅 56.3平米,56.3,38544.0,217.0,2015-05-08,1965,2室1厅,南 北,低楼层(共3层),简装,0,0,1,0
1,2,中关村南大街甲3号 2室1厅 55.1平米,55.1,33667.0,185.5,2012-04-10,1965,2室1厅,南 北,底层(共3层),其他,0,0,1,0
2,3,民族大学南路19号院 2室1厅 70平米,70,91429.0,640.0,2019-04-19,1993,2室1厅,南,中楼层(共15层),简装,0,0,1,0
3,4,民族大学南路19号院 2室1厅 98.49平米,98.49,102752.0,1012.0,2019-04-07,2000,2室1厅,南,高楼层(共18层),简装,0,0,1,0
4,5,民族大学南路19号院 2室1厅 60.7平米,60.7,98847.0,600.0,2019-02-22,1991,2室1厅,南,高楼层(共16层),其他,0,0,1,0

In [282]:
df2['Decoration2'] = df2['Decoration'].astype('str')

In [283]:
# Encode Decoration into categorical variables
# 毛坯 = 0，简装 = 1， 精装 = 2，  其他 = 3 (we need to drop 暂无信息)
df2.loc[df2['Decoration2'] == '毛坯' , 'Decoration2'] = '0'
df2.loc[df2['Decoration2'] == '简装' , 'Decoration2'] = '1'
df2.loc[df2['Decoration2'] == '精装' , 'Decoration2'] = '2'
df2.loc[df2['Decoration2'] == '其他' , 'Decoration2'] = '3'
df2.loc[df2['Decoration2'] == '暂无信息' , 'Decoration2'] = '4'
df2['Decoration2'].astype('int')

0        1
1        3
2        1
3        1
4        3
        ..
72430    3
72431    3
72432    3
72433    3
72434    3
Name: Decoration2, Length: 72364, dtype: int64

In [286]:
# Drop missing rows for facing decoration2 (dropped 2940 rows)
df3 = df2[df2['Decoration2'] != '4']
df3.shape

(69486, 16)

In [288]:
df3_copy = df3.copy()
df3_copy['Floor2'] = df3_copy['Floor'].astype('str').str[0:1]

In [290]:
# Encode Floor into categorical variables
# 地 = 0，底 = 1， 低 = 2，  中 = 3, 高 = 4，顶 = 5，未 = 7 (we need to drop 7)
df3_copy.loc[df3_copy['Floor2'] == '地' , 'Floor2'] = '0'
df3_copy.loc[df3_copy['Floor2'] == '底' , 'Floor2'] = '1'
df3_copy.loc[df3_copy['Floor2'] == '低' , 'Floor2'] = '2'
df3_copy.loc[df3_copy['Floor2'] == '中' , 'Floor2'] = '3'
df3_copy.loc[df3_copy['Floor2'] == '高' , 'Floor2'] = '4'
df3_copy.loc[df3_copy['Floor2'] == '顶' , 'Floor2'] = '5'
df3_copy.loc[df3_copy['Floor2'] == '暂' , 'Floor2'] = '6'
df3_copy.loc[df3_copy['Floor2'] == '未' , 'Floor2'] = '7'

df3_copy['Floor2'].astype('int')

0        2
1        1
2        3
3        4
4        4
        ..
72430    1
72431    2
72432    5
72433    3
72434    3
Name: Floor2, Length: 69486, dtype: int64

In [291]:
df3_copy['Floor2'].value_counts()

3    26268
4    13977
2    13447
5     8630
1     6617
0      365
7      182
Name: Floor2, dtype: int64

In [292]:
# Drop missing rows for Floor2(dropped 182 rows)
df4 = df3_copy[df3_copy['Floor2'] != '7']

df4.shape

(69304, 17)

In [296]:
df4.columns

Index(['Housing_ID', 'Community', 'Livable Area', 'Price/Square Meter',
       'Price', 'Date', 'Year Built', 'Floor Plan', 'Facing Direction',
       'Floor', 'Decoration', 'Facing Direction2_东', 'Facing Direction2_北',
       'Facing Direction2_南', 'Facing Direction2_西', 'Decoration2', 'Floor2'],
      dtype='object')

In [297]:
df4.head(3)

,Housing_ID,Community,Livable Area,Price/Square Meter,Price,Date,Year Built,Floor Plan,Facing Direction,Floor,Decoration,Facing Direction2_东,Facing Direction2_北,Facing Direction2_南,Facing Direction2_西,Decoration2,Floor2
0,1,中关村南大街甲3号 2室1厅 56.3平米,56.3,38544.0,217.0,2015-05-08,1965,2室1厅,南 北,低楼层(共3层),简装,0,0,1,0,1,2
1,2,中关村南大街甲3号 2室1厅 55.1平米,55.1,33667.0,185.5,2012-04-10,1965,2室1厅,南 北,底层(共3层),其他,0,0,1,0,3,1
2,3,民族大学南路19号院 2室1厅 70平米,70,91429.0,640.0,2019-04-19,1993,2室1厅,南,中楼层(共15层),简装,0,0,1,0,1,3
3,4,民族大学南路19号院 2室1厅 98.49平米,98.49,102752.0,1012.0,2019-04-07,2000,2室1厅,南,高楼层(共18层),简装,0,0,1,0,1,4
4,5,民族大学南路19号院 2室1厅 60.7平米,60.7,98847.0,600.0,2019-02-22,1991,2室1厅,南,高楼层(共16层),其他,0,0,1,0,3,4

In [298]:
necessary_col = ['Housing_ID', 'Livable Area', 'Price/Square Meter','Price', 'Date', 'Year Built','Facing Direction2_东', 'Facing Direction2_北','Facing Direction2_南', 'Facing Direction2_西', 'Decoration2', 'Floor2']
final_df = df4[necessary_col]

In [303]:
final_df = final_df.rename(columns={"Facing Direction2_东": "Facing_East", "Facing Direction2_北": "Facing_North", "Facing Direction2_南": 'Facing_South', "Facing Direction2_西": 'Facing_West', "Decoration2": 'Decoration_Level', "Floor2": 'Floor_Level'})

In [305]:
final_df.sample(15)

,Housing_ID,Livable Area,Price/Square Meter,Price,Date,Year Built,Facing_East,Facing_North,Facing_South,Facing_West,Decoration_Level,Floor_Level
62205,62206,41.6,86539.0,360.0,2017-11-26,1993,1,0,0,0,2,4
18534,18535,53.06,32040.0,170.0,2014-07-30,2010,1,0,0,0,2,4
35709,35710,42.8,62617.0,268.0,2015-11-15,1989,0,0,1,0,1,4
66032,66033,58.8,102892.0,605.0,2017-04-06,1992,0,0,1,0,2,2
28190,28191,67.9,79529.0,540.0,2019-04-14,1998,0,0,1,0,1,3
41844,41845,223.81,33869.0,758.0,2012-12-07,2008,0,0,1,0,3,3
32025,32026,73.8,48374.0,357.0,2013-01-14,1997,0,0,1,0,3,2
29347,29348,84.43,74619.0,630.0,2018-03-03,2003,1,0,0,0,2,3
19977,19978,84,56310.0,473.0,2015-07-24,1990,0,0,1,0,1,4
1963,1964,54.4,56802.0,309.0,2018-01-14,1984,0,0,1,0,0,2
30067,30068,125.51,54817.0,688.0,2015-12-06,2002,1,0,0,0,2,3
48783,48784,61.4,44789.0,275.0,2013-06-01,1990,0,0,1,0,3,3
23423,23424,92.78,79759.0,740.0,2018-07-08,1998,0,0,1,0,1,2
59046,59047,85.2,67489.0,575.0,2016-11-30,1993,0,0,1,0,2,4
59958,59959,60.6,61222.0,371.0,2016-06-28,1996,1,0,0,0,2,4

In [310]:
# get a list of columns
cols = list(final_df)
# move the column to head of list using index, pop and insert
cols.insert(0, cols.pop(cols.index('Price/Square Meter')))
cols


# Move the response variable to left-most
final_df2 = final_df[cols]

In [1]:
final_df2.to_csv("prepared_data.csv", sep=',', index=False)

NameError: name 'final_df2' is not defined

In [313]:
from sklearn.model_selection import train_test_split
train, test_and_validate = train_test_split(final_df2, test_size=0.2, random_state=42)

In [314]:
test, validate = train_test_split(test_and_validate, test_size=0.5, random_state=42)

In [315]:
print(train.shape)
print(test.shape)
print(validate.shape)

(55443, 12)
(6930, 12)
(6931, 12)

In [324]:
# 随机抽样的部分可能有问题，后面再回来检查
print(train['Price/Square Meter'].value_counts())

50000.0     68
100000.0    40
60000.0     29
80000.0     25
90910.0     25
            ..
63910.0      1
25048.0      1
62889.0      1
71050.0      1
19453.0      1
Name: Price/Square Meter, Length: 38159, dtype: int64

In [318]:
print(test['Price/Square Meter'].value_counts())

50000.0     9
80000.0     6
60000.0     5
41997.0     4
45455.0     4
           ..
88908.0     1
66844.0     1
42672.0     1
60409.0     1
102400.0    1
Name: Price/Square Meter, Length: 6505, dtype: int64

In [319]:
print(validate['Price/Square Meter'].value_counts())

50000.0    8
39635.0    4
49100.0    4
66667.0    4
43528.0    3
          ..
36996.0    1
58109.0    1
52342.0    1
54965.0    1
2.0        1
Name: Price/Square Meter, Length: 6548, dtype: int64

In [325]:
# Export train, test, validation df into .csv files

train.to_csv(r'/Users/lin-chuntseng/Desktop/housing_training_dataset.csv', index = False, header = False)
test.to_csv(r'/Users/lin-chuntseng/Desktop/housing_testing_dataset.csv', index = False, header = False)
validate.to_csv(r'/Users/lin-chuntseng/Desktop/housing_validation_dataset.csv', index = False, header = False)

In [ ]:
bucket=''

prefix='lab3'

train_file='housing_training_dataset.csv'
test_file='housing_testing_dataset.csv'
validate_file='housing_validation_dataset.csv'

import os

s3_resource = boto3.Session().resource('s3')

def upload_s3_csv(filename, folder, dataframe):
    csv_buffer = io.StringIO()
    dataframe.to_csv(csv_buffer, header=False, index=False)
    s3_resource.Bucket(bucket).Object(os.path.join(prefix, folder, filename)).put(Body=csv_buffer.getvalue())

In [ ]:
upload_s3_csv(train_file, 'train', train)
upload_s3_csv(test_file, 'test', test)
upload_s3_csv(validate_file, 'validate', validate)

In [1]:
pip install boto3 awscli

Requirement already satisfied: boto3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (1.15.16)
Requirement already satisfied: awscli in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (1.18.157)
Requirement already satisfied: botocore<1.19.0,>=1.18.16 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3) (1.18.16)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3) (0.10.0)
Requirement already satisfied: s3transfer<0.4.0,>=0.3.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from boto3) (0.3.3)
Requirement already satisfied: PyYAML<5.4,>=3.10; python_version != "3.4" in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from awscli) (5.3.1)
Requirement already satisfied: colorama<0.4.4,>=0.2.5; python_version != "3.4" in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from awscli) (0.4.3)
Requirement already satisfied: docutils<0.16,>=0.10 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from awscli) (0.15.2)
Requirement already satisfied: rsa<=4.5.0,>=3.1.2; python_version != "3.4" in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from awscli) (4.5)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore<1.19.0,>=1.18.16->boto3) (2.8.1)
Requirement already satisfied: urllib3<1.26,>=1.20; python_version != "3.4" in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from botocore<1.19.0,>=1.18.16->boto3) (1.25.10)
Requirement already satisfied: pyasn1>=0.1.3 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from rsa<=4.5.0,>=3.1.2; python_version != "3.4"->awscli) (0.4.8)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.19.0,>=1.18.16->boto3) (1.14.0)
WARNING: You are using pip version 20.0.2; however, version 20.2.4 is available.
You should consider upgrading via the '/home/ec2-user/anaconda3/envs/python3/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
import boto3

# Let's use Amazon S3
s3 = boto3.resource('s3')
# Print out bucket names
for bucket in s3.buckets.all():
    print(bucket.name)

haidianhousing
sagemaker-studio-774975782106-2chr2iygtx2
sagemaker-studio-us-east-1-774975782106

In [3]:
import os
import numpy as np
import pandas as pd

from sklearn.datasets import load_boston
import sklearn.model_selection

In [4]:
import sagemaker
from sagemaker import get_execution_role
from sagemaker.amazon.amazon_estimator import get_image_uri
from sagemaker.predictor import csv_serializer

session = sagemaker.Session()
role = get_execution_role

In [6]:
import pandas as pd
from sagemaker import get_execution_role

role = get_execution_role()
bucket='haidianhousing'
data_key = 'housing_training_dataset.csv'
data_location = 's3://{}/{}'.format(bucket, data_key)

training_housing = pd.read_csv(data_location)

In [7]:
training_housing.head()

,Price/Square Meter,Housing_ID,Livable Area,Price,Date,Facing_East,Facing_North,Facing_South,Facing_West,Decoration_Level,Floor_Level
0,107750.0,35176,40.00,431.0,2018-11-04,0,0,1,0,2,1
1,39485.0,50534,96.24,380.0,2014-09-22,0,0,1,0,2,2
2,66130.0,54157,62.00,410.0,2016-08-31,1,0,0,0,1,4
3,55461.0,32909,58.60,325.0,2013-05-21,0,0,1,0,3,1
4,45725.0,45008,77.42,354.0,2016-08-30,0,0,1,0,2,3

In [ ]:
from sagemaker.image_uris import retrieve
container = retrieve('xgboost',boto3.Session().region_name,'1.0-1')

In [ ]:
hyperparams={"num_round":"42",
             "eval_metric": "rmse",
             "objective": "reg:linear"}

In [ ]:
import sagemaker
s3_output_location="s3://{}/{}/output/".format(bucket,prefix)
xgb_model=sagemaker.estimator.Estimator(container,
                                       sagemaker.get_execution_role(),
                                       instance_count=1,
                                       instance_type='ml.m4.xlarge',
                                       output_path=s3_output_location,
                                        hyperparameters=hyperparams,
                                        sagemaker_session=sagemaker.Session())

In [ ]:
train_channel = sagemaker.inputs.TrainingInput(
    "s3://{}/{}/train/".format(bucket,prefix,train_file),
    content_type='text/csv')

validate_channel = sagemaker.inputs.TrainingInput(
    "s3://{}/{}/validate/".format(bucket,prefix,validate_file),
    content_type='text/csv')

data_channels = {'train': train_channel, 'validation': validate_channel}

In [ ]:
xgb_model.fit(inputs=data_channels, logs=False)